<div class="index-page" style="display: flex; position: relative;">
  <div class="index-cards" style="flex: 1;"><%= render "./shared/indexcards" %></div>
  <div
    class="index-map col-xs-6 col-sm-3 col-m-3"
    id="map"
    style="
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
    margin-right: 30px;
    margin-top: 20px;
    padding-left: 10px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
