<div class="banner" style="background-image: url( <%=image_path('https://res.cloudinary.com/dqssam2go/image/upload/v1542809419/banner_flat.jpg')%>);">
  <div class="form-block">
    <%= render "./shared/search" %>
  </div>
</div>
