<% action = @flat.id.to_s + "/bookings" %>
<form class= "book-form" action=<%= action %> method="post">

  <h4 class="book-title">Book this flat</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="checkin" id="checkin" name="booking[:checkin]">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="checkout" name="booking[:checkout]">
  </div>

  <div class="form-group">
    <select name="booking[:guests]" id="guests" class="form-control">
      <option value="1">1 guest</option>
      <option value="2">2 guests</option>
      <option value="3">3 guests</option>
      <option value="3">4 guests</option>
      <option value="3">5 guests</option>
    </select>
  </div>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= submit_tag 'Book it', class: "book-button" %>
</form>
