<div class="form-wrapper book-form">
  <h2 class="book-title">Book this flat</h2>
  <div class="form-group">
    <%= simple_form_for([@flat, @flat.bookings.new], method: "post") do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= f.submit "Book it", class: "book-button" %>
    <% end %>
  </div>
</div>
