<html>
<body>

  <h2>Creating a flat</h2>

  <form>

    <!-- upload pictures of the flat -->

    Description:<br>
    <input type="text" description="description">
    <br>
    City:<br>
    <input type="text" city="city">
    <br>
    Price:<br>
    <input type="text" price="price">
    <br>
    Number of guests:<br>
    <input type="text" number_of_guests="number_of_guests">

    <input type="checkbox" name="wifi" value="wifi"> Wifi<br>
    <input type="checkbox" name="dishwasher" value="Dishwasher"> Dishwasher<br>
    <input type="checkbox" name="pets_allowed" value="Pets Allowed" checked> Pets Allowed<br>
    <input type="checkbox" name="kitchen" value="kitchen"> Kitchen<br>
    <input type="checkbox" name="smocking_allowed" value="smocking_allowed"> Kitchen<br>
    <input type="checkbox" name="balcony" value="balcony"> Kitchen<br>
    <input type="checkbox" name="TV" value="TV"> TV<br>
    <input type="submit" value="Submit"><br><br>
  </form>

</body>
</html>

