<div class="footer">
  <div class="footer-links">
    <a href="http://herzcaspar.info/" target="_blank">♥︎ CasparWebApp Team</a>
  </div>
  <div class="footer-copyright">
    FlateMate ®
  </div>
</div>
