<form action="/flats", method='get' class="form-container">
  <h1 class="form-header">Book Unique Homes</h1>
  <label class="label" for="city">CITY:</label><br>
  <input type="text" name="city" class="form-body"><br>
  <div class="button-form">
    <input type="submit" value="Search" class="button">
  </div>
</form>
