<form action="/flats", method='get' class="form-container">
  <h1 class="form-header">Book unique flats and experiences.</h1>
  <label class="label" for="city">CITY</label><br>
  <input placeholder="Berlin" type="text" name="city" class="form-body"><br>
  <label class="label" for="price">PRICE</label><br>
  <input placeholder="€ 70 per/night" type="text" name="price" class="form-body"><br>
  <label class="label" for="guests">GUESTS</label><br>
  <input placeholder="4 people" type="text" name="guests" class="form-body"><br>
  <div class="button-form">
    <input type="submit" value="Search" class="s-button">
  </div>
</form>
