.about-flat-header {
  text-align: center;
}

.info-row{
  display: flex;
}
.fd {
  color: gray;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: 20px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin: 0px 30px;
}
.amenities-header {
  font-weight: bolder;
  margin-right: 15px;
  line-height: 2.5;
}
.list {
  line-height: 2.5;
}
li {
  display: inline;
  margin-right: 25px;
  text-align: center;
  i {
    margin-right: 10px;
  }
}
ul {
  width: 100%;
}

.header-flat-details{
  display: flex;
  flex: justify-content;
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.4);
  margin-left: 20px;
  width: 300px;
}

#flat-data {
  background-color: white;
  margin-left: 16%;
  margin-right: 14.5%;
  border-radius: 5px;
  box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.4);

}

#flat-data i {
    font-size: 20px;
    color: #9B9B9B;
    width: 20px;
    text-align: center;
}

#head {
  text-align: center;
}
