.banner {
  color: white;
  height: calc(100vh - 70px) !important;
  background-size: cover !important;
  position: relative;
}
.form-block {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 45%;
}
