.banner {
  color: white;
  height: calc(100vh - 70px) !important;
  background-image: url('banner_flat.jpg');
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-block {
  justify-content: flex-start;
  margin-right: 45%;
  margin-bottom: 15px;
}
