.booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  margin-right: 0px !important;

}
ul.bookings {
  padding-right: 40px;
}
.booking:last-child {
  border-bottom: none;
}
.booking-body {
  flex-grow: 1;
}
.booking-name {
  padding-left: 0px;
  width: 150px;
}
.booking-name h3 {
  font-size: 20px;
  margin-top: 5px;
}
.booking-name p {
  font-size: 13px;
  // opacity: 0.6;
  margin-top: 5px;
}
.booking-body {
  padding-left: 10px;
  // font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.booking-body {
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0,0,0,0.4);
}
.booking-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.booking-body p {
  margin: 6px 0;
}
.booking-status {
  // font-size: 14px;
  font-weight: bold;
}
.booking-review {
  padding-left: 20px;
  padding-right: 20px;

}
.status.coming {
  color: orange;
}
.status.enjoy {
  color: green;
}
.status.memory {
  color: gray;
}
