.header-flat-details {
  display: relative;
  height: 180px;
}

.flat-owner-info img{
  width: 80px;
  margin-bottom: 5px;
  padding: 20px;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.flat-owner-info p {
  font-weight: bolder;
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.flat-description p{
  font-weight: normal;
  font-size: 14px;
  color: #777777;
}
.price {
  // font-weight: lighter !important;
}
.flat-description h1{
  font-size: 18px;
  margin-top: 30px;
  color: #ff5b5e;
  font-weight: bolder;
}

.img-circle {
  border: solid 3px white;
  box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.4);
}
#owner {
  padding: 0px;
}
