form{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
    color: #7ABFDD;
}

form-copyright {
  color: #FF5B5E;
  text-decoration: none;
  font-size: 15px;
  padding: 0px;
  font-family: Helvetica;
  font-weight: lighter;
  opacity: 0.6;
}
