.map-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #ff5b5e;
  margin-bottom: 0px;
  margin-top: 10px;
  line-height: 0.85;
}
.map-price {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-bottom: 0px;
}
