.form-container {
  background-color: rgba(255,255,255,0.9);
  padding: 15px 15px;
  border-radius: 5px;
}
.form-header {
  font-family: Helvetica;
  font-weight: bolder;
  color: black;
  font-size: 35px;
  margin-bottom: 15px;
}
.form-body {
  color: gray;
  font-family: Helvetica;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}
.button-form {
  display: flex;
  justify-content: flex-end;
}
.label {
  color: gray;
  font-family: Helvetica;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0px;
}
.button {
  font-family: Helvetica;
  font-weight: bolder;
  background-color: #ff5b5e;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 10px;
  border: solid #ff5b5e;
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  text-align: center !important;
  transition-property: background, border-color, color !important;
  transition-duration: 0.2s !important;
  transition-timing-function: ease-out !important;
}
