<div class="container">
  <h2>Create a new review</h2>
  <%= simple_form_for([@booking, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>
</div>
